<h1 #headertext>Welcome to Nihira Techiees</h1>

<!-- @defer(on timer(1000ms)){
    <router-outlet></router-outlet>
} -->
<!-- 
@defer(on viewport){
<router-outlet></router-outlet>
}@placeholder{
<div>data is available soon....</div>
} -->

<!-- 
@defer(on interaction(headertext)){
    <router-outlet></router-outlet>
    }@placeholder{
    <div>data is available soon....</div>
    } -->

<!--     
@defer(on hover){
    <router-outlet></router-outlet>
    }@placeholder{
    <div>data is available soon....</div>
    } -->

<!-- @defer(on immediate){
        <router-outlet></router-outlet>
        }@placeholder{
        <div>data is available soon....</div>
        } -->

<!-- <button (click)="showcontent()">Click</button>
        @defer(when isloadcontent){
            <router-outlet></router-outlet>
            }@placeholder{
            <div>data is available soon....</div>
            } -->

<!-- <button (click)="showcontent()">Click</button>
@defer{
<router-outlet></router-outlet>
}@placeholder( minimum 2s){
<div>data is available soon....</div>
} @loading(after 100ms; minimum 1s){
<div>Loading....</div>
} @error{
<div>Failed to load content</div>
} -->


<!-- <button (click)="showcontent()">Click</button>
@defer(when isloadcontent;on timer(1000ms)){
<router-outlet></router-outlet>
}@placeholder(){
<div>data is available soon....</div>
} @loading(after 100ms; minimum 1s){
<div>Loading....</div>
} @error{
<div>Failed to load content</div>
} -->

<button (click)="showcontent()">Click</button>
@defer(when isloadcontent;prefetch on idle){
<router-outlet></router-outlet>
}@placeholder(){
<div>data is available soon....</div>
} @loading(after 100ms; minimum 1s){
<div>Loading....</div>
} @error{
<div>Failed to load content</div>
}